# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# if you are NOT using Zero-installs, then:
# comment the following lines
!.yarn/cache

# and uncomment the following lines
# .pnp.*

.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

# End of https://mrkandreev.name/snippets/gitignore-generator/#yarn,react,vite,npm,pnpm

dist/

.vscode/

*.db*
.kilocode

.env*

.pnpm-store

# Ralph orchestrator
.agent/summary.md
.agent/memories.md
.agent/scratchpad.md
.agent/tasks.jsonl
PROMPT.md
.ralph